<!doctype html>
  {% block htmlTag %}
    <html lang="{{site.lang}}" dir="{{site.dir}}">
  {% endblock htmlTag %}
  <head>
    {% block headContent %}
      {% include 'partials/head-content.njk' %}
    {% endblock %}
  </head>

  <body layout="home">
    <aside id="sidenav-open">
      {% block sidebarOverlay %}
            <nav slot="content" id="sidebar-nav">
              {% include 'partials/logoLink.njk' %}
              <rocket-navigation>
                <ul>
                  {%- for entry in collections.header %}
                    <li>
                      <a href="{{ entry.url | url }}" class="
                        {% if entry.url == page.url %} current {% endif %}
                        {% if (page.url.search(entry.url) !== -1) and (page.url !== '/') %} active {% endif %}
                      ">{{ entry.data.eleventyNavigation.key }}</a>
                    </li>
                  {%- endfor %}
                </ul>
                {% include 'partials/mobile-sidebar-bottom.njk' %}
              </rocket-navigation>
            </nav>
        {% endblock sidebarOverlay %}

      <a
        href="#"
        id="sidenav-close"
        title="Close Menu"
        aria-label="Close Menu"
        onclick="window.history.back()"
      ></a>
    </aside>

    <main>
      <div class="header-grid-area">
        {% block header %}
          {% include 'partials/header.njk' %}
        {% endblock header%}
      </div>
      <div class="theme-able ga-head2-main">
        <p>head2-main</p>
      </div>
      <div class="theme-able ga-content-l"></div>
      <div class="theme-able ga-head3-main">
        <p>head3-main</p>
      </div>
      <div class="rocket-content content-grid-area">
        <p>Rocket Content</p>
        <p>
          Content would be provided by rocket, including mdjs output
        </p>
        <p>Optionally, also your own?</p>
        <p>
          Deserunt lorem nostrud eiusmod sint nostrud anim labore labore
          deserunt cupidatat incididunt et dolor nisi dolor.
        </p>
      </div>
      <div class="rocket-content sidebar-grid-area">
        {% block sidebar %}
            <nav slot="content" id="sidebar-nav">
              {% include 'partials/logoLink.njk' %}
              <rocket-navigation>
                <ul>
                  {%- for entry in collections.header %}
                    <li>
                      <a href="{{ entry.url | url }}" class="
                        {% if entry.url == page.url %} current {% endif %}
                        {% if (page.url.search(entry.url) !== -1) and (page.url !== '/') %} active {% endif %}
                      ">{{ entry.data.eleventyNavigation.key }}</a>
                    </li>
                  {%- endfor %}
                </ul>
                {% include 'partials/mobile-sidebar-bottom.njk' %}
              </rocket-navigation>
            </nav>
        {% endblock sidebar %}
      </div>
      <div class="theme-able ga-content-r"></div>

      <div class="theme-able ga-foot-main">
        <p>Footer</p>
      </div>
    </main>
  </body>
</html>
