<h2 class="blurb-header">{{ blurbHeader }}</h2>

<section class="blurbs">
  {% for blurb in blurbs %}
    <article>
      <h3>{{ blurb.header }}</h3>
      <div>{{ blurb.text | safe }}</div>
      <div class=author> by {{ blurb.author | safe}}</div>
      <img src="{{ '/_assets/_static/images/eirik-skarstein-unsplash.jpg' | asset | url }}" alt="{{ site.title }} Logo"/>
      <a class=more href="{{ blurb.more}}">more</a>
    </article>
  {% endfor %}
</section>
