.header-grid-area {
  background-color: grey;
}
.sidebar-grid-area {
  background-color: salmon;
}
.content-grid-area {
  background-color: white;
}

.rocket-content {
  display: grid;
  justify-content: center;
  align-items: center;
  border: solid black 3px;
  border-radius: 3px;
  font-size: 16px;
  padding: 5px;
}

.theme-able {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  font-size: 20px;
  background-color: #0099FF;
  padding: 5px;
}

.theme-able p {
  margin: 0 0 5px 0;
}

aside > a:focus {
  outline-color: white;
}

nav {
  display: inline-flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 1.25rem;
  color: rgb(226, 226, 226);
  color: black;
  font-size: 1.5rem;
}

nav > h4:not(:first-child) {
  -webkit-margin-before: 2rem;
  margin-block-start: 2rem;
}

nav a {
  text-decoration: none;
  line-height: 1.25;
}