body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

@media (max-width: 540px) {
  body > aside,
  body > main {
    grid-area: only-one-can-show-area;
  }
}

#sidenav-open {
  --easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
  --duration: .6s;

  display: none;
  grid-template-columns: [nav] 2fr [escape] 1fr
}

@media (max-width: 540px) {

#sidenav-open {
    display: grid;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    overflow: hidden auto;
    -ms-scroll-chaining: none;
        overscroll-behavior: contain;

    visibility: hidden; /* not keyboard accessible when closed */
    transform: translateX(-110vw);
    will-change: transform;
    transition: 
      transform var(--duration) var(--easeOutExpo),
      visibility 0s linear var(--duration)
}
    
    #sidenav-open:target {
      visibility: visible;
      transform: translateX(0);
      transition: transform var(--duration) var(--easeOutExpo);
    }
  }

@media (prefers-reduced-motion: reduce) {

#sidenav-open {
    --duration: 1ms
}
  }

#sidenav-button,
#sidenav-close {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  touch-action: manipulation
}

@media (min-width: 540px) {

#sidenav-button,
#sidenav-close {
    display: none
}
  }

/* use this if copying/pasting skeleton */

/* @media (max-width: 540px) {
  #sidenav-open > nav {
    background-color: white;
  }
}

#sidenav-button > svg {
  max-width: 50px;

  & > line {
    stroke: black;
    stroke-width: 7px;
  }
} */

/* these are styles to make it pretty */

/* sidenav.css has all the layout, state and functionality */

nav {
  display: inline-flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 1.25rem;
  color: rgb(226, 226, 226);
  color: var(--text)
}

@media (min-width: 540px) {

nav {
    -webkit-padding-before: 4.5rem;
            padding-block-start: 4.5rem
}
  }

@media (max-width: 540px) {

nav {
    background-color: rgb(48, 48, 48);
    background-color: var(--surface2);
    -webkit-border-end: 1px var(--surface1);
            border-inline-end: 1px var(--surface1);
    box-shadow: 5px 0 40px hsla(0, 0%, 0%, .45);
    font-size: 1.5rem
}
  }

nav > h4 {
    text-transform: uppercase
  }

nav > h4:not(:first-child) {
      -webkit-margin-before: 2rem;
              margin-block-start: 2rem;
    }

nav a {
    text-decoration: none;
    line-height: 1.25;
  }

.hamburger {
  --size: 4rem;
  display: flex;
  align-content: center;
  justify-content: center;
  place-content: center;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-margin-start: -1rem;
          margin-inline-start: -1rem;
  block-size: var(--size);
  inline-size: var(--size);
  outline: none;
  transition:
    border-color .25s ease,
    background-color .25s ease
}

.hamburger:hover {
    border-color: hsla(328, 100%, 54%, 0.5);
    border-color: hsl(var(--brandHSL) / 50%);
  }

.hamburger:focus {
    border-color: hsla(328, 100%, 54%, 0.12);
    border-color: hsl(var(--brandHSL) / 12%);
    background: hsla(328, 100%, 54%, 0.1);
    background: hsl(var(--brandHSL) / 10%);
  }

.hamburger:hover svg > line {
    stroke: hsl(328, 100%, 54%);
    stroke: hsl(var(--brandHSL));
  }

.hamburger:active {
    background: hsla(328, 100%, 54%, 0.2);
    background: hsl(var(--brandHSL) / 20%);
  }

.hamburger > svg {
    width: 100%
  }

.hamburger > svg > line {
      stroke: rgb(226, 226, 226);
      stroke: var(--text);
      stroke-width: 7px;
      transition: stroke .25s ease;
    }

aside > a {
  outline-offset: -1px;
  outline: 1px solid transparent
}

aside > a:focus {
    outline-color: hsl(328, 100%, 54%);
    outline-color: hsl(var(--brandHSL));
    transition: outline-color .25s ease;
  }

main {
  padding: .5rem 1.5rem
}

main > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-block-size: 3rem;
    -webkit-margin-after: 1rem;
            margin-block-end: 1rem;
  }

article {
  display: inline-grid;
  gap: 2ch;
}

:root {
  --surface: rgb(27, 27, 27);
  --surface2: rgb(48, 48, 48);
  --text: rgb(226, 226, 226);
  --text2: rgb(171, 171, 171);
  --brandHSL: 328 100% 54%
}

@media (prefers-color-scheme: light) {

:root {
    --surface: rgb(226, 226, 226);
    --surface2: rgb(255, 255, 254);
    --text: rgb(48, 48, 48);
    --text2: rgb(94, 94, 94)
}
  }

body {
  min-block-size: 100vh;
  font-family: "BLOKK", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(27, 27, 27);
  background: var(--surface);
  color: rgb(226, 226, 226);
  color: var(--text);
}

h1,h2,h3,h4,figure {
  margin: 0;
  color: rgb(226, 226, 226);
  color: var(--text);
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  max-inline-size: 30ch;
}

p {
  line-height: 1.5;
  color: rgb(171, 171, 171);
  color: var(--text2);
  max-inline-size: 50ch;
}

a {
  color: hsl(328, 100%, 74%);
  outline-color: hsl(328, 100%, 54%);
  outline-color: hsl(var(--brandHSL));
  outline-offset: 5px
}

a:hover {
    color: hsl(328, 100%, 54%);
    color: hsl(var(--brandHSL));
  }
