body[layout='home'] {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr minmax(692px, 950px) 300px 1fr;
  grid-template-rows: 103px 50px minmax(350px, 1fr) auto;
  grid-template-areas:
    "head-l     head-main     head-side     head-r"
    "head2-l    head2-main    head2-side    head2-r"
    "content-l  content-main  content-side  content-r"
    "content-l  foot-main     foot-main     content-r"
}

.ga-head-l {
  grid-area: head-l;
}

.ga-head-main {
  grid-area: head-main;
}

.ga-head-side {
  grid-area: head-side;
}

.ga-head-r {
  grid-area: head-r;
}

.ga-head2-l {
  grid-area: head2-l;
}

.ga-head2-main {
  grid-area: head2-main;
}

.ga-head2-side {
  grid-area: head2-side;
}

.ga-head2-r {
  grid-area: head2-r;
}

.ga-content-side {
  grid-area: content-side;
}

.ga-content-l {
  grid-area: content-l;
}

.ga-content-r {
  grid-area: content-r;
}

.ga-content-main {
  grid-area: content-main;
}

.ga-foot-r {
  grid-area: foot-r; /* no corresponding html - blank */
}

.ga-foot-main {
  grid-area: foot-main;
}