body[layout='home'] {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr minmax(578px, 640px) 310px 1fr;
  grid-template-rows: 49px minmax(350px, 1fr);
  grid-template-areas:
    "head-main  head-main     head-main     head-main"
    "content-l  content-main  content-side  content-r"
}

.header-grid-area {
  grid-area: head-main;
}

.ga-content-l {
  grid-area: content-l;
}
.sidebar-grid-area {
  grid-area: content-side;
}
.content-grid-area {
  grid-area: content-main;
}
.ga-content-r {
  grid-area: content-r;
}

body[layout='with-sidebar'] {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr minmax(578px, 640px) 310px 1fr;
  grid-template-rows: 49px minmax(350px, 1fr);
  grid-template-areas:
    "head-main  head-main     head-main     head-main"
    "content-l  content-main  content-side  content-r"
    "content-l  foot-main     foot-main     content-r"
}
