body[layout='home'] {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr minmax(811px, 932px) 1fr;
  grid-template-rows: 60px 30px 250px minmax(250px, 500px) 100px;
  grid-template-areas:
    "head-main     head-main     head-main"
    "head2-main    head2-main    head2-main"
    "head3-main    head3-main    head3-main"
    "content-l     content-main  content-r"
    "foot-main     foot-main     foot-main"
}
.ga-head-main {
  grid-area: head-main;
}
.header-grid-area {
  grid-area: head2-main;
}
.ga-head3-main {
  grid-area: head3-main;
}

.ga-content-l {
  grid-area: content-l;
}
.content-grid-area {
  grid-area: content-main;
}
.ga-content-r {
  grid-area: content-r;
}

.ga-foot-main {
  grid-area: foot-main;
}