{% extends 'layout.njk' %}

{% block bodyTag %}
  <body layout="home" home-layout="{{rocketLaunch.homeLayout}}">
{% endblock bodyTag %}

{% block sidebar %}
  <rocket-drawer id="sidebar">
    <nav slot="content" id="sidebar-nav">
      {% include 'partials/logoLink.njk' %}
      <rocket-navigation>
        <ul>
          {%- for entry in collections.header %}
            <li>
              <a href="{{ entry.url | url }}" class="
                {% if entry.url == page.url %} current {% endif %}
                {% if (page.url.search(entry.url) !== -1) and (page.url !== '/') %} active {% endif %}
              ">{{ entry.data.eleventyNavigation.key }}</a>
            </li>
          {%- endfor %}
        </ul>
      </rocket-navigation>
    </nav>
  </rocket-drawer>
{% endblock sidebar %}

{% block main %}
  <main class="markdown-body">
    <h1 class="page-title">{{ title }}</h1>
    {{ content | safe }}
    {% include 'partials/previousNext.njk' %}
  </main>
{% endblock main %}
