<header id="main-header">
  <div class="content-area">
    <button id="mobile-menu-trigger">
      <span class="sr-only">Show Menu</span>
      {{ '/_assets/burger-menu.svg' | asset | toAbsPath | inlineFilePath | safe }}
    </button>
    {% include 'partials/logoLink.njk' %}

    {%- for entry in collections.header %}
      <a href="{{ entry.url | url }}" class="
              {% if entry.url == page.url %} current {% endif %}
              {% if (page.url.search(entry.url) !== -1) and (page.url !== '/') %} active {% endif %}
            ">{{ entry.data.eleventyNavigation.key }}</a>
    {%- endfor %}
    {% include 'search/input.njk' %}
  </div>
</header>
