body[layout='home'] {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr minmax(300px, 1440px) 1fr;
  grid-template-rows: 65px 65px minmax(350px, 1fr) 100px;
  grid-template-areas:
    "head-main  head-main     head-main"
    "content-l  head2-main    content-r"
    "content-l  content-main  content-r"
    "content-l  foot-main     content-r"
}

.ga-head-main {
  grid-area: head-main;
}

.ga-head2-main {
  grid-area: head2-main;
}

.ga-content-l {
  grid-area: content-l;
}
.ga-content-main {
  grid-area: content-main;
}
.ga-content-r {
  grid-area: content-r;
}

.ga-foot-main {
  grid-area: foot-main;
}