.site-banner {
  background-color: honeydew;
  border: none;
}
#main-header.header-grid-area {
  background-color: steelblue;
  margin:0;
}
#main-header a {
  color:white;
}
.ga-head3-main {
  margin: 2em;
}
.content-grid-area,
.sidebar-grid-area {
  border-top: solid 0.5px gray;
}


body[layout^='layout-home'] #main-header {
  top: 0px;
  position: sticky;
}

.sidebar-grid-area {
  position: sticky;
  top: 100px;
}