<div class="mobile-name">
  <a href="{{ '/' | url }}">
    <h1>FIXME</h1>
    <span class="sr-only">{{ site.name }}</span>
  </a>
</div>
<div class="primary-header">
  {% for blockName, blockPath in _joiningBlocks.header %}
    {% include blockPath %}
  {% endfor %}
</div>