:root {
  --maincolor: #0099FF;
  --black: #272727;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  color: var(--black);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

body {
  font-size: 15px;
}


img {
  max-width: 100%;
}

body[layout='home'] .ga-content-side {
  border-left: solid black;
  padding-left: 20px;
}

#right-panel {
  background: white url(/_merged_assets/_static/images/yulia-matvienko-FR5RL5kI5T8-unsplash_.jpg);
  background-size: cover;
}

#left-panel {
  background: white ;
  background-size: cover;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  padding-inline-start: 0;
  margin-block-end: 0;
}