{% extends 'layout-default.njk' %}

{% block themeBody %}
    <div class="header-grid-area">
      {% block header %}
        {% include 'partials/header.njk' %}
      {% endblock header%}
    </div>

    <div class="ga-content-l"></div>
    <div class="rocket-content content-grid-area">
      {% block sidebar %}
        {% include 'partials/_layoutSidebar/sidebar.njk' %}
      {% endblock sidebar %}
      {% block content %}
        {% include 'partials/_layoutSidebar/content.njk' %}
      {% endblock content %}
    </div>
    <div class="ga-content-r"></div>

    <div class="ga-foot-main">
      <P>LAYOUT INDEX</P>
      {% block footer %}
        {% include 'partials/footer.njk' %}
      {% endblock footer %}
    </div>

    {% include 'partials/bottom.njk' %}
{% endblock themeBody %}
