<!doctype html>
  {% block htmlTag %}
    <html lang="{{site.lang}}" dir="{{site.dir}}">
  {% endblock htmlTag %}
  <head>
    {% block headContent %}
      {% include 'partials/head-content.njk' %}
    {% endblock %}
  </head>

  <body layout="home">
  
  
    <aside id="sidenav-open">
      {% block sidebarOverlay %}
        <rocket-drawer id="sidebar">
          <nav slot="content" id="sidebar-nav">
            {% include 'partials/logoLink.njk' %}
            <rocket-navigation>
              {{ collections[section] | rocketNav | rocketNavToHtml({
                listItemClass: "menu-item",
                activeListItemClass: "current",
                activeKey: eleventyNavigation.key
              }) | safe }}
              {% include 'partials/mobile-sidebar-bottom.njk' %}
            </rocket-navigation>
          </nav>
        </rocket-drawer>
      {% endblock sidebarOverlay %}

      
      <a href="#" id="sidenav-close" title="Close Menu" aria-label="Close Menu" onclick="window.history.back()"></a>
    </aside>

    <main>
      <div class="ga-head2-main sales-banner">
        <img src="{{ '_assets/_static/images/statefarm-banner.jpg' | asset | url }}" role="presentation"/>
      </div>

      <div class="head2 ga-head3-main">
        <h2>BellumGerrare</h2>
      </div>

      <div class="header-grid-area">
        {% block header %}
          {% include 'partials/header.njk' %}
        {% endblock header%}
      </div>

      <div class="ga-content-l"></div>
      <div class="rocket-content content-grid-area">
        
        <p>Rocket Content</p>
        <p>
          Content would be provided by rocket, including mdjs output
        </p>
        <p>Optionally, also your own?</p>
        <p>
          Deserunt lorem nostrud eiusmod sint nostrud anim labore labore
          deserunt cupidatat incididunt et dolor nisi dolor.
        </p>
      </div>
      <div class="sidebar-grid-area">
      {% block sidebar %}
        <rocket-drawer id="sidebar">
          <nav slot="content" id="sidebar-nav">
            {% include 'partials/logoLink.njk' %}
            <rocket-navigation>
              {{ collections[section] | rocketNav | rocketNavToHtml({
                listItemClass: "menu-item",
                activeListItemClass: "current",
                activeKey: eleventyNavigation.key
              }) | safe }}
              {% include 'partials/mobile-sidebar-bottom.njk' %}
            </rocket-navigation>
          </nav>
        </rocket-drawer>
      {% endblock sidebar %}
      </div>
      <div class="ga-content-r"></div>

      <div class="ga-foot-main">
        {% block footer %}
          {% include 'partials/footer.njk' %}
          {% include 'partials/pageJs.njk' %}
          {% include 'partials/mobileNavigationJs.njk' %}
        {% endblock footer %}
      </div>
    </main>
  </body>
</html>
