.container {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr minmax(692px, 936px) 312px 1fr;
  grid-template-rows: 62px 300px 50px 50px minmax(350px, 1fr) 100px;
  grid-template-areas:
    "head-main    head-main     head-main    head-main"
    "head2-main   head2-main    head2-main    head2-main"
    "head3-main   head3-main    head3-main    head3-main"
    "head4-main   head4-main    head4-main    head4-main"
    "content-l    content-side  content-main  content-r"
    "content-l    foot-main     foot-main     content-r"
}

.ga-head-main {
  grid-area: head-main;
}

.ga-head2-main {
  grid-area: head2-main;
}

.ga-head3-main {
  grid-area: head3-main;
}

.ga-head4-main {
  grid-area: head4-main;
}

.ga-content-l {
  grid-area: content-l;
}
.ga-content-side {
  grid-area: content-main;
}
.ga-content-main {
  grid-area: content-main;
}
.ga-content-r {
  grid-area: content-r;
}

.ga-foot-main {
  grid-area: foot-main;
}



@media (max-width: 1025px) {
  .container {
    display: grid;
    grid-template-columns: minmax(692px, 1025px);
    grid-template-rows: 56px minmax(350px, 1fr) 100px;
    grid-template-areas:
      "head-main"
      "content-main"
      "foot-main";
    /* next 4 lines prevents stray grid items from being written WTF???????? */
    grid-auto-rows: 0; 
    overflow-y: hidden;
    grid-auto-columns: 0;
    overflow-x: hidden;
  }
}